body{
    background-color: black;
}
canvas {
    padding: 0;
    margin: auto;
    display: block;
    /* width: 50vw;
    height: 50vh; */
    position: absolute;
    top: 0;  
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(80, 72, 72);
    border: 1px solid grey;
    border-radius: 10px;
}
#buttons{
    text-align: center;
    width: 500px;
    margin: auto;
}
#score{
    /* background-color: blanchedalmond; */
    position: absolute;
    top: 25vh;
    right: 25vw;
    /* width: 150px; */
    /* height: 50px; */
    margin: auto;
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-align: right;
    padding: 5px;
    font-weight: bold;
    border: 1px solid grey;
    border-radius: 10px;
}
#restart {
    opacity: 0.6;
    border: none;
    background-color: rgb(255, 4, 4);
    width: 100px;
    height: 100px;
    display: block;
    border-radius: 100%;
    position: absolute;
    left: 48vw;
    top: 45vh;
    display: none;
    font-size: large;
}